@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: #343434;
  background: transparent;
  border: 0.1rem #efefef solid;
  height: 7.2rem;
  line-height: 3.0rem;
}
button:hover {
  color: #666;
  background: transparent;
  border: 0.1rem #efefef solid;
}

/*  */

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #efefef;
}

.words {
   width: 80%;
   margin: 0 auto 40px;
}

.container {
  position: relative;
  color: #343434;
  margin: 0 auto 6px;
  padding: 14px 10px;
  line-height: 3rem;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  list-style: none;
}
.container input {
  margin-bottom: 0;
}
@media (min-width:768px) {
  .container {
    padding: 40px;
  }
}

/*  */

.theme {
  font-weight: 100;
}

.label {
  position: absolute;
  left: 5px;
  top: -5px;
  font-size: 8px;
}

.button_reflesh img {
  width: 18px;
}

.button_reflesh p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
}
