@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  width: 60%;
  height: 60px;
  font-size: 1.8rem;
  font-weight: 100;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}


/*  */

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  height: 100vh;
  background: #efefef;
  /* background: url(https://source.unsplash.com/daily) no-repeat;
  background-size: cover; */
}

.words {
 width: 80%;
 margin: 0 auto 20px
}

.container {
  position: relative;
  color: #343434;
  margin: 0 auto 6px;
  padding: 14px 10px;
  line-height: 3rem;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  list-style: none;
}
.container input {
  margin-bottom: 0;
}
@media (min-width:768px) {
  .container {
    padding: 40px;
  }
}

/*  */

.theme {
  font-weight: 100;
}

.label {
  position: absolute;
  left: 5px;
  top: -5px;
  font-size: 8px;
}

.link_unsplash {
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 8px;
}
.link_unsplash a {
  color: #ccc;
}
